$clr-red: 0, 100%, 67%;
$clr-orangey-yellow: 39, 100%, 56%;
$clr-green-teal: 166, 100%, 37%;
$clr-cobalt-blue: 234, 85%, 45%;

$clr-light-slate-blue: hsl(252, 100%, 67%);
$clr-light-royal-blue: hsl(241, 81%, 54%);
$clr-violet-blue: hsl(256, 72%, 46%, 1);
$clr-persian-blue: hsl(241, 72%, 46%, 0);

$clr-white: hsl(0, 0%, 100%);
$clr-white-transparent: hsl(0, 0%, 100%, .7);
$clr-pale-blue: hsl(221, 100%, 96%);
$clr-light-lavender: hsl(241, 100%, 89%);
$clr-dark-gray-blue: hsl(224, 30%, 27%);
$clr-dark-gray-blue-transparent: hsl(224, 30%, 27%, .2);
$clr-dark-gray-blue-light-transparent: hsl(224, 30%, 27%, .5);

$gradient-primary: linear-gradient(
                $clr-light-slate-blue,
                $clr-light-royal-blue
);

$gradient-to-transparent: linear-gradient(
                $clr-violet-blue,
                $clr-persian-blue
);

$fw-regular: 500;
$fw-bold: 700;
$fw-black: 900;

$fs-400: 1.125rem;
$fs-500: 1.25rem;
$fs-600: 1.5rem;
$fs-700: 1.75rem;
$fs-800: 2rem;
$fs-900: 5rem;

$breakpoint-width: 600px;

// FONT
@font-face {
    font-family: 'HankenGrotesk';
    font-display: swap;
    font-weight: 100 900;
    src: url('assets/fonts/HankenGrotesk-VariableFont_wght.ttf') format('truetype');
}

// RESET
*,
*:before,
*:after {
    box-sizing: border-box;
}

* {
    margin: 0;
    font: inherit;
}

img,
svg {
    display: block;
    max-width: 100%;
}

// GENERIC
body {
    font-family: 'HankenGrotesk', sans-serif;
    font-size: $fs-400;
    color: $clr-dark-gray-blue;
    background: $clr-white;

    @media (min-width: $breakpoint-width) {
        min-height: 100dvh;
        display: grid;
        place-items: center;
    }
}

.section-title {
    font-size: $fs-600;
    font-weight: $fw-bold;
}

// MAIN
.component-wrapper {
    max-width: 46rem;
    display: grid;

    --border-radius: 2rem;
    --padding: 2.5rem;

    @media (min-width: $breakpoint-width) {
        margin: 1rem;
        grid-template-columns: 1fr 1fr;
        border-radius: var(--border-radius);
        overflow: hidden;
        box-shadow: .5rem 1rem 3rem $clr-dark-gray-blue-transparent;
    }

    .result {
        text-align: center;
        background: $gradient-primary;
        color: $clr-white-transparent;

        border-bottom-left-radius: var(--border-radius);
        border-bottom-right-radius: var(--border-radius);
        padding: var(--padding);

        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        row-gap: 2rem;

        @media (min-width: $breakpoint-width) {
            border-radius: var(--border-radius);
        }

        &-score {
            background: $gradient-to-transparent;
            width: 12rem;
            aspect-ratio: 1 / 1;
            margin-inline: auto;
            border-radius: 100vw;

            display: flex;
            flex-flow: column nowrap;
            justify-content: center;

            span {
                font-size: $fs-900;
                font-weight: $fw-black;
                line-height: 1;
                color: $clr-white;
            }
        }

        &-rank {
            display: flex;
            flex-flow: column nowrap;
            justify-content: space-between;
            row-gap: 1rem;

            strong {
                display: block;
                font-size: $fs-700;
                font-weight: $fw-bold;
                color: $clr-white;
            }

            p {
                padding-inline: 1rem;
            }
        }
    }

    .summary {
        padding: var(--padding);

        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        row-gap: 2rem;

        &-list {
            display: flex;
            flex-flow: column nowrap;
            justify-content: space-between;
            row-gap: 1rem;

            &-item {
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;
                align-items: center;

                padding: 1rem;
                border-radius: .5rem;

                background: hsl(var(--accent-clr), .1);

                &-title {
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: start;
                    align-items: center;
                    gap: 1rem;

                    color: hsl(var(--accent-clr));
                    font-weight: $fw-bold;

                    svg {
                        stroke: hsl(var(--accent-clr));
                    }
                }

                &-score {
                    color: $clr-dark-gray-blue-light-transparent;

                    span {
                        font-weight: $fw-bold;
                        color: $clr-dark-gray-blue;
                    }
                }

                &[data-accent="1"] {
                    --accent-clr: #{$clr-red};
                }

                &[data-accent="2"] {
                    --accent-clr: #{$clr-orangey-yellow};
                }

                &[data-accent="3"] {
                    --accent-clr: #{$clr-green-teal};
                }

                &[data-accent="4"] {
                    --accent-clr: #{$clr-cobalt-blue};
                }
            }
        }

        &-button {
            color: $clr-white;
            background: $clr-dark-gray-blue;
            padding: 1rem 2rem;
            line-height: 1;
            border: 0;
            border-radius: 100vw;
            cursor: pointer;

            &:hover,
            &:focus-visible {
                background: $gradient-primary;
            }
        }
    }
}
